/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
  }
  
  /* Estilo do Header */
  header {
    background-color: #004d40; /* Verde Escuro */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  
  header h1 {
    font-size: 2rem;
  }
  
  /* Estilo do Main */
  main {
    padding: 2rem;
    text-align: center;
  }
  section h2 span {
    font-weight: bolder;
    color: black;
    font-size: 2rem;
  }
  
  .content h2 {
    color: #8b0000; /* Vinho */
    margin-bottom: 1rem;
  }
  
  .content p {
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }
  
  .download-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .download-button {
    background-color: #8b0000; /* Vinho */
    color: #fff;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .download-button:hover {
    background-color: #6b0000; /* Tom mais escuro de vinho */
  }
  
  /* Estilo do Footer */
  footer {
    background-color: #004d40; /* Verde Escuro */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
  }
  
  footer p {
    font-size: 0.9rem;
  }
  